
kafka-producer/bin/Debug/netcoreapp3.1/Confluent.Kafka.dll
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.deps.json
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.dll
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.exe
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.pdb
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.runtimeconfig.dev.json
kafka-producer/bin/Debug/netcoreapp3.1/kafka-producer.runtimeconfig.json
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/alpine-librdkafka.so
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/centos7-librdkafka.so
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/debian9-librdkafka.so
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/librdkafka.so
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/librdkafka.dylib
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/librdkafka.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/librdkafkacpp.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/libzstd.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/msvcp120.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/msvcr120.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/zlib.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/librdkafka.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/librdkafkacpp.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/libzstd.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/msvcp120.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/msvcr120.dll
kafka-producer/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/zlib.dll
kafka-producer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
kafka-producer/obj/Debug/netcoreapp3.1/apphost.exe
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.AssemblyInfo.cs
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.AssemblyInfoInputs.cache
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.assets.cache
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.csproj.CopyComplete
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.csproj.CoreCompileInputs.cache
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.csproj.FileListAbsolute.txt
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.csprojAssemblyReference.cache
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.dll
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.genruntimeconfig.cache
kafka-producer/obj/Debug/netcoreapp3.1/kafka-producer.pdb
kafka-producer/obj/kafka-producer.csproj.nuget.dgspec.json
kafka-producer/obj/kafka-producer.csproj.nuget.g.props
kafka-producer/obj/kafka-producer.csproj.nuget.g.targets
kafka-producer/obj/project.assets.json
kafka-producer/obj/project.nuget.cache
